In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
inflows = pd.read_parquet("data/ucsd-inflows.pqt")
outflows = pd.read_parquet("data/ucsd-outflows.pqt")

In [3]:
inflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,PAYCHECK,2477.02,2022-03-18,PAYCHECK
1,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-10-25,EXTERNAL_TRANSFER
2,0,acc_0,MISCELLANEOUS,6.29,2022-08-26,MISCELLANEOUS
3,0,acc_0,EXTERNAL_TRANSFER,277.00,2022-06-03,EXTERNAL_TRANSFER
4,0,acc_0,EXTERNAL_TRANSFER,100.00,2022-07-29,EXTERNAL_TRANSFER
...,...,...,...,...,...,...
513110,5941,acc_9524,EXTERNAL_TRANSFER,8.66,2023-01-21,EXTERNAL_TRANSFER
513111,5941,acc_9524,EXTERNAL_TRANSFER,267.13,2023-01-23,EXTERNAL_TRANSFER
513112,5941,acc_9524,EXTERNAL_TRANSFER,2.00,2023-01-24,EXTERNAL_TRANSFER
513113,5941,acc_9524,EXTERNAL_TRANSFER,207.16,2023-01-24,EXTERNAL_TRANSFER
513114,5941,acc_9524,EXTERNAL_TRANSFER,281.71,2023-01-25,EXTERNAL_TRANSFER

In [4]:
outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED

## Week 1: Data Exploration

In [ ]:
inflows_info = inflows.info()
outflows_info = outflows.info()

In [ ]:
inflows_missing = inflows.isna().sum()
inflows_missing

In [ ]:
outflows_missing = outflows.isna().sum()
outflows_missing

In [ ]:
inflows_stats = inflows['amount'].describe()
inflows_stats

In [ ]:
outflows_stats = outflows['amount'].describe()
outflows_stats

In [ ]:
inflows_unique_counts = inflows.nunique()
inflows_unique_counts

In [ ]:
outflows_unique_counts = outflows.nunique()
outflows_unique_counts

In [ ]:
inflows_memo_ct = inflows['memo'].value_counts()
inflows_memo_ct

In [ ]:
inflows_cat_ct = inflows['category'].value_counts()
inflows_cat_ct

In [ ]:
inflows_cat_ct.plot(kind='bar', color='blue', alpha=0.7)
plt.xlabel('Category')
plt.ylabel('Number of Transactions')
plt.title('Category Distribution for Inflows')
plt.tight_layout()
plt.show()

In [ ]:
outflows_cat_ct = outflows['category'].value_counts()
outflows_cat_ct

In [ ]:
outflows_memo_ct = outflows['memo'].value_counts()
outflows_memo_ct

In [ ]:
outflows_cat_ct.plot(kind='bar', color='red', alpha=0.7)
plt.xlabel('Category')
plt.ylabel('Number of Transactions')
plt.title('Category Distribution for Outflows')

plt.tight_layout()
plt.show()

In [ ]:
outflows_mismatched_categories = outflows[outflows['memo'] != outflows['category']]['category']

print("\nMismatched categories in outflows:")
print(outflows_mismatched_categories.unique())

In [ ]:
outflows['memo'].head(10)

In [ ]:
inflows['posted_date'] = pd.to_datetime(inflows['posted_date'])
outflows['posted_date'] = pd.to_datetime(outflows['posted_date'])

inflows['month'] = inflows['posted_date'].dt.month
outflows['month'] = outflows['posted_date'].dt.month

inflows_monthly_avg = inflows.groupby('month')['amount'].mean()
outflows_monthly_avg = outflows.groupby('month')['amount'].mean()


plt.figure(figsize=(12, 6))

plt.plot(inflows_monthly_avg.index, inflows_monthly_avg.values, label='Average Inflows', color='blue', marker='o')
plt.plot(outflows_monthly_avg.index, outflows_monthly_avg.values, label='Average Outflows', color='red', marker='o')


plt.xlabel('Month')
plt.ylabel('Average Amount')
plt.title('Average Monthly Transaction Trends Across All Years')
plt.xticks(ticks=range(1, 13), labels=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
plt.legend()
plt.grid(True)
plt.tight_layout()


plt.show()

In [ ]:
# inflows['day_of_week'] = inflows['posted_date'].dt.day_name()
# inflows['month'] = inflows['posted_date'].dt.month_name()

# outflows['day_of_week'] = outflows['posted_date'].dt.day_name()
# outflows['month'] = outflows['posted_date'].dt.month_name()

# inflows_heatmap_data = inflows.pivot_table(index='day_of_week', columns='month', values='amount', aggfunc='count')
# outflows_heatmap_data = outflows.pivot_table(index='day_of_week', columns='month', values='amount', aggfunc='count')


# plt.figure(figsize=(12, 6))
# sns.heatmap(inflows_heatmap_data, cmap='Blues', annot=True, fmt='d')
# plt.title('Heatmap of Inflow Transaction Frequency by Day of Week and Month')
# plt.show()

# plt.figure(figsize=(12, 6))
# sns.heatmap(outflows_heatmap_data, cmap='Reds', annot=True, fmt='d')
# plt.title('Heatmap of Outflow Transaction Frequency by Day of Week and Month')
# plt.show()

In [ ]:
top_inflow_memos = inflows['memo'].value_counts().head(10)
plt.figure(figsize=(12, 6))
top_inflow_memos.plot(kind='bar', color='blue')
plt.title('Top 10 Inflow Memos')
plt.ylabel('Frequency')
plt.show()

top_outflow_memos = outflows['memo'].value_counts().head(10)
plt.figure(figsize=(12, 6))
top_outflow_memos.plot(kind='bar', color='red')
plt.title('Top 10 Outflow Memos')
plt.ylabel('Frequency')
plt.show()

In [ ]:
plt.figure(figsize=(14, 6))

inflows_category_totals = inflows.groupby('category')['amount'].sum()
outflows_category_totals = outflows.groupby('category')['amount'].sum()
plt.subplot(1, 2, 1)
plt.pie(inflows_category_totals, labels=inflows_category_totals.index, autopct='%1.1f%%', startangle=140, colors=plt.cm.Paired.colors)
plt.title('Proportion of Inflows by Category')

plt.subplot(1, 2, 2)
plt.pie(outflows_category_totals, labels=outflows_category_totals.index, autopct='%1.1f%%', startangle=140, colors=plt.cm.Paired.colors)
plt.title('Proportion of Outflows by Category')


plt.show()

In [ ]:
pie_inflows = px.sunburst(inflows, path=['category'], values='amount', title='Sunburst of Inflows by Category')
pie_inflows.show()

In [ ]:
pie_outflows = px.sunburst(outflows, path=['category'], values='amount', title='Sunburst of Outflows by Category')
pie_outflows.show()

In [ ]:
inflows['year'] = inflows['posted_date'].dt.year
outflows['year'] = outflows['posted_date'].dt.year

inflows_yearly = inflows.groupby('year')['amount'].sum()
outflows_yearly = outflows.groupby('year')['amount'].sum()

plt.figure(figsize=(12, 6))
plt.bar(inflows_yearly.index - 0.2, inflows_yearly.values, width=0.4, label='Inflows', color='blue')
plt.bar(outflows_yearly.index + 0.2, outflows_yearly.values, width=0.4, label='Outflows', color='red')

plt.xlabel('Year')
plt.ylabel('Total Amount')
plt.title('Year-over-Year Comparison of Inflows and Outflows')
plt.legend()
plt.show()

In [ ]:
inflows['year'] = inflows['posted_date'].dt.year
outflows['year'] = outflows['posted_date'].dt.year

yearly_inflows = inflows.groupby('year')['amount'].sum()
yearly_outflows = outflows.groupby('year')['amount'].sum()

net_yearly_amount = yearly_inflows - yearly_outflows

plt.figure(figsize=(12, 6))
plt.plot(net_yearly_amount.index, net_yearly_amount.values, label='Average Net Transactions per Year', color='purple', marker='o')

plt.xlabel('Year')
plt.ylabel('Average Net Amount')
plt.title('Average Net Transaction Amount per Year (Inflows - Outflows)')
plt.legend()
plt.grid(True)
plt.show()

In [ ]:
inflows_merchant_counts = inflows.groupby(['category', 'memo']).size().reset_index(name='count')
outflows_merchant_counts = outflows.groupby(['category', 'memo']).size().reset_index(name='count')

most_common_inflows_merchants = inflows_merchant_counts.loc[inflows_merchant_counts.groupby('category')['count'].idxmax()]
most_common_outflows_merchants = outflows_merchant_counts.loc[outflows_merchant_counts.groupby('category')['count'].idxmax()]

In [ ]:
most_common_inflows_merchants[['category', 'memo', 'count']]

In [ ]:
most_common_inflows_merchants = most_common_inflows_merchants.sort_values('count')
plt.figure(figsize=(14, 6))
plt.barh(most_common_inflows_merchants['category'], most_common_inflows_merchants['count'], color='red')
plt.xlabel('Number of Transactions')
plt.ylabel('Category')
plt.title('Most Common Merchants per Category (Outflows)')
plt.show()

In [ ]:
most_common_outflows_merchants[['category', 'memo', 'count']]

In [ ]:
most_common_outflows_merchants = most_common_outflows_merchants.sort_values('count')
plt.figure(figsize=(14, 6))
plt.barh(most_common_outflows_merchants['category'], most_common_outflows_merchants['count'], color='red')
plt.xlabel('Number of Transactions')
plt.ylabel('Category')
plt.title('Most Common Merchants per Category (Outflows)')
plt.show()

## Week 2: Splitting Data into Train and Test

In [4]:
mismatched_memo = outflows[~(outflows.memo == outflows.category)].reset_index().drop(columns='index')
mismatched_memo.head()

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category
0,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES
1,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES
2,0,acc_0,Oculus CA 04/16,11.73,2022-04-18,GENERAL_MERCHANDISE
3,0,acc_0,LOS GIRASOLES STOW OH 03/08,30.04,2022-03-09,FOOD_AND_BEVERAGES
4,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,4.16,2022-03-29,GENERAL_MERCHANDISE

In [5]:
from sklearn.model_selection import train_test_split

test_size = 0.2 

inflows_train, inflows_test = train_test_split(inflows, test_size=test_size, random_state=42)
outflows_train, outflows_test = train_test_split(outflows, test_size=test_size, random_state=42)

In [6]:
# Splitting customer_ids into training and testing sets
ids = outflows.prism_consumer_id.unique()
ids_memo = mismatched_memo.prism_consumer_id.unique()

train_ids, test_ids = train_test_split(ids, test_size=0.25)
train_ids_memo, test_ids_memo = train_test_split(ids_memo, test_size=0.25)

In [7]:
outflows_train = outflows[outflows['prism_consumer_id'].isin(train_ids)]
outflows_test = outflows[outflows['prism_consumer_id'].isin(test_ids)]

outflows_memo_train = mismatched_memo[mismatched_memo['prism_consumer_id'].isin(train_ids_memo)]
outflows_memo_test = mismatched_memo[mismatched_memo['prism_consumer_id'].isin(test_ids_memo)]

In [8]:
# Outflows statistics comparison
print("\nOutflows - Training Set Statistics:")
print(outflows_memo_train['amount'].describe())
print("\nOutflows - Test Set Statistics:")
print(outflows_memo_test['amount'].describe())

Outflows - Training Set Statistics:
count    970437.000000
mean         54.743743
std         703.852466
min           0.000000
25%           8.970000
50%          19.260000
75%          42.350000
max      280171.350000
Name: amount, dtype: float64

Outflows - Test Set Statistics:
count    336015.000000
mean         51.455169
std         371.350515
min           0.000000
25%           9.380000
50%          19.990000
75%          43.200000
max      100000.000000
Name: amount, dtype: float64

In [9]:
print("\nOutflows - Category Distribution in Train Set:")
print(outflows_train['category'].value_counts(normalize=True))

print("\nOutflows - Category Distribution in Test Set:")
print(outflows_test['category'].value_counts(normalize=True))

Outflows - Category Distribution in Train Set:
category
GENERAL_MERCHANDISE    2.020556e-01
FOOD_AND_BEVERAGES     1.878363e-01
EXTERNAL_TRANSFER      1.205303e-01
GROCERIES              8.576740e-02
AUTOMOTIVE             8.035285e-02
UNCATEGORIZED          4.470802e-02
ATM_CASH               4.447953e-02
LOAN                   3.526177e-02
ENTERTAINMENT          3.150043e-02
ESSENTIAL_SERVICES     3.003384e-02
CREDIT_CARD_PAYMENT    2.865565e-02
SELF_TRANSFER          2.743616e-02
TRAVEL                 2.338946e-02
HEALTHCARE_MEDICAL     1.586162e-02
ACCOUNT_FEES           1.443070e-02
INSURANCE              1.154404e-02
PETS                   3.795974e-03
HOME_IMPROVEMENT       3.387065e-03
GIFTS_DONATIONS        1.884805e-03
EDUCATION              1.622710e-03
OVERDRAFT              1.346658e-03
RENT                   1.275319e-03
TAX                    1.194158e-03
BNPL                   5.334938e-04
PAYCHECK               4.580189e-04
MORTGAGE               4.363069e-04
CHILD_DEPENDENTS       2.098822e-04
BILLS_UTILITIES        1.137293e-05
AUTO_LOAN              5.169514e-07
Name: proportion, dtype: float64

Outflows - Category Distribution in Test Set:
category
GENERAL_MERCHANDISE    0.200888
FOOD_AND_BEVERAGES     0.178925
EXTERNAL_TRANSFER      0.132478
GROCERIES              0.080566
AUTOMOTIVE             0.080147
ATM_CASH               0.047671
UNCATEGORIZED          0.046639
LOAN                   0.034286
SELF_TRANSFER          0.030476
CREDIT_CARD_PAYMENT    0.030274
ENTERTAINMENT          0.030087
ESSENTIAL_SERVICES     0.028713
TRAVEL                 0.021720
HEALTHCARE_MEDICAL     0.015321
ACCOUNT_FEES           0.014472
INSURANCE              0.011934
HOME_IMPROVEMENT       0.003089
PETS                   0.002900
EDUCATION              0.002051
GIFTS_DONATIONS        0.001618
TAX                    0.001321
OVERDRAFT              0.001178
RENT                   0.001026
CHILD_DEPENDENTS       0.000799
BNPL                   0.000771
MORTGAGE               0.000415
PAYCHECK               0.000232
BILLS_UTILITIES        0.000002
Name: proportion, dtype: float64

In [10]:
outflows_memo_train.shape, outflows_memo_test.shape

((970437, 6), (336015, 6))

In [11]:
outflows['memo']

0                                               LOAN
1                                           ATM_CASH
2          TST* Casa Del Rio - Exp Fairlawn OH 09/24
3                                               LOAN
4                                 Buffalo Wild Wings
                             ...
2597483                                     ATM_CASH
2597484                                     ATM_CASH
2597485                                     ATM_CASH
2597486                                     ATM_CASH
2597487                                UNCATEGORIZED
Name: memo, Length: 2597488, dtype: object

## Week 3: Cleaning Memos

In [12]:
f = open('memo_original_tracy.txt', 'w')
inspect = outflows.memo.unique()

f.write(',\n'.join([str(x) for x in sorted(inspect)]))
f.close()

In [13]:
# number of unique memos prior to cleaning
outflows.memo.nunique()

528786

In [14]:
import re
# lowercase everything
outflows['clean_memo'] = outflows['memo'].str.lower()
# Removing special characters except for alphanumeric characters and spaces
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', '', x).strip())

In [15]:
#removing dates
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'\s*\b\d{1,2}/\d{1,2}(?:/\d{2,4})?\b\s*', '', x).strip())
print(outflows['clean_memo'].head(10))

0                                      loan
1                                   atmcash
2    tst casa del rio  exp fairlawn oh 0924
3                                      loan
4                        buffalo wild wings
5                             entertainment
6                            oculus ca 0416
7                los girasoles stow oh 0308
8                  buzzis laundry 1 oh 0328
9                  buzzis laundry 1 oh 0213
Name: clean_memo, dtype: object

In [16]:
outflows['clean_memo'].unique()

array(['loan', 'atmcash', 'tst casa del rio  exp fairlawn oh 0924', ...,
       'debit card withdrawal purchaseamazon primeti40l27r3 amzncombill wa date 011623 purch xxxxxxxxxxxxxxxxxxxxxx  card 15 34',
       'pos withdrawalaz lot quiktrip xxxx xxxx e indian school rd phoenix az  card 15 xxxx  mcc xxxx',
       'pos withdrawalwalmart xxxx xxxx e mckellips rd mesa az  card 15 xxxx  mcc xxxx'],
      dtype=object)

In [17]:
#removed X's for redacted information
# outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'X+', '', x).strip())

In [18]:
outflows['clean_memo'].unique()

array(['loan', 'atmcash', 'tst casa del rio  exp fairlawn oh 0924', ...,
       'debit card withdrawal purchaseamazon primeti40l27r3 amzncombill wa date 011623 purch xxxxxxxxxxxxxxxxxxxxxx  card 15 34',
       'pos withdrawalaz lot quiktrip xxxx xxxx e indian school rd phoenix az  card 15 xxxx  mcc xxxx',
       'pos withdrawalwalmart xxxx xxxx e mckellips rd mesa az  card 15 xxxx  mcc xxxx'],
      dtype=object)

In [19]:
# Remove hashtags and alphanumeric sequences at the start
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'^#[a-z0-9]+', '', x))

In [20]:
# remove website urls
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'(www\.|\.com)', '', x))

In [21]:
# Replace special characters with a single space
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'[^\w\s-]', ' ', x))

# Remove hyphens within words
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'([a-z]+)\s?-\s?([a-z]+)', r'\1\2', x))

# Remove extra spaces
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [22]:
#remove sequence of Xs
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'x{3,}', '', x).strip())

In [23]:
#remove wwww for links
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'\bwww(?=\w)', '', x))

In [24]:
outflows

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category,clean_memo
0,0,acc_0,LOAN,900.60,2022-07-05,LOAN,loan
1,0,acc_0,ATM_CASH,80.00,2022-03-25,ATM_CASH,atmcash
2,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-09-26,FOOD_AND_BEVERAGES,tst casa del rio exp fairlawn oh 0924
3,0,acc_0,LOAN,634.00,2023-01-10,LOAN,loan
4,0,acc_0,Buffalo Wild Wings,26.47,2022-09-12,FOOD_AND_BEVERAGES,buffalo wild wings
...,...,...,...,...,...,...,...
2597483,5941,acc_9524,ATM_CASH,8.42,2023-01-25,ATM_CASH,atmcash
2597484,5941,acc_9524,ATM_CASH,2.06,2023-01-25,ATM_CASH,atmcash
2597485,5941,acc_9524,ATM_CASH,262.88,2023-01-25,ATM_CASH,atmcash
2597486,5941,acc_9524,ATM_CASH,10.00,2023-01-25,ATM_CASH,atmcash
2597487,5941,acc_9524,UNCATEGORIZED,35.13,2023-01-25,UNCATEGORIZED,uncategorized

In [25]:
# remove stop words that appear in a lot of transactions
stop_words = [
        'payment', 'transaction', 'deposit', 'withdrawal', 'transfer', 
        'credit', 'debit', 'refund', 'fee', 'charge', 'purchase', 
        'atm', 'checkcard', 'poswithdrawl'
    ]
for word in stop_words:
    outflows['memo'] = outflows['memo'].apply(lambda x: re.sub(rf'\b{word}\b', '', x).strip())

In [26]:
# remove sequences of numbers at the start and end of the memo
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'^\d+|\d+$', '', x).strip())

In [27]:
#remove spaces
outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

In [28]:
outflows['clean_memo'][2:60]

2          tst casa del rio exp fairlawn oh
3                                      loan
4                        buffalo wild wings
5                             entertainment
6                                 oculus ca
7                     los girasoles stow oh
8                       buzzis laundry 1 oh
9                       buzzis laundry 1 oh
10                            entertainment
11                      tgi fridays stow oh
12     tst the basement sp cuyahoga fall oh
13                                    lowes
14                              piada 39 oh
15                                  grubhub
16                        essentialservices
17                         hardees akron oh
18         market di state cuyahoga fall oh
19               swensons montrose akron oh
20                              great clips
21                         externaltransfer
22                          applecombill ca
23                               automotive
24                          applecombill ca
25                               automotive
26                          applecombill ca
27                            uncategorized
28                    los girasoles stow oh
29    wing warehouse cuyah cuyahoga fall oh
30                  winking lizard 30 ma oh
31                            entertainment
32                         externaltransfer
33          longhorn steak cuyahoga fall oh
34      on tap cuyahoga fa cuyahoga fall oh
35     tst the basement sp cuyahoga fall oh
36                              great clips
37                               automotive
38                                oculus ca
39                        creditcardpayment
40                               automotive
41                        creditcardpayment
42                               home depot
43                        creditcardpayment
44                                    lowes
45    falls discount tobacc cuyahoga fls oh
46                        essentialservices
47                              burger king
48                        essentialservices
49                                    lowes
50                                ocharleys
51                        creditcardpayment
52                          homedepotcom ga
53                              dairy queen
54      east of chicago cu cuyahoga fall oh
55            gianteag corpora uniontown oh
56                               automotive
57    wing warehouse cuyah cuyahoga fall oh
58           fins bar chill pigeon forge tn
59                        essentialservices
Name: clean_memo, dtype: object

In [29]:
# remove states abbrievations from end of memos
state_abbreviations = [
    'al', 'ak', 'az', 'ar', 'ca', 'co', 'ct', 'de', 'fl', 'ga', 
    'hi', 'id', 'il', 'in', 'ia', 'ks', 'ky', 'la', 'me', 'md', 
    'ma', 'mi', 'mn', 'ms', 'mo', 'mt', 'ne', 'nv', 'nh', 'nj', 
    'nm', 'ny', 'nc', 'nd', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 
    'sd', 'tn', 'tx', 'ut', 'vt', 'va', 'wa', 'wv', 'wi', 'wy'
]

pattern = r'\b(?:' + '|'.join(state_abbreviations) + r')\b$'

outflows['clean_memo'] = outflows['clean_memo'].apply(lambda x: re.sub(pattern, '', x).strip())

In [30]:
outflows['clean_memo'].unique()

array(['loan', 'atmcash', 'tst casa del rio exp fairlawn', ...,
       'debit card withdrawal purchaseamazon primeti40l27r3 amzncombill wa date 011623 purch card 15',
       'pos withdrawalaz lot quiktrip e indian school rd phoenix az card 15 mcc',
       'pos withdrawalwalmart e mckellips rd mesa az card 15 mcc'],
      dtype=object)

In [31]:
outflows.loc[~(outflows.clean_memo == outflows.category), 'clean_memo'].unique().__len__()

447997

In [32]:
f = open('memo_cleaned_tracy.txt', 'w')
inspect = outflows.clean_memo.unique()

f.write(',\n'.join([str(x) for x in sorted(inspect)]))
f.close()

In [33]:
outflows['memo']

0                                               LOAN
1                                           ATM_CASH
2          TST* Casa Del Rio - Exp Fairlawn OH 09/24
3                                               LOAN
4                                 Buffalo Wild Wings
                             ...
2597483                                     ATM_CASH
2597484                                     ATM_CASH
2597485                                     ATM_CASH
2597486                                     ATM_CASH
2597487                                UNCATEGORIZED
Name: memo, Length: 2597488, dtype: object

## Week 4: TF/IDF

In [34]:
unmatched_memos = outflows[outflows.category != outflows.memo].reset_index(drop=True)
unmatched_memos[50:100]

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category,clean_memo
50,0,acc_0,CLEVELAND GAMING Fairview Park OH 09/24,20.00,2022-09-26,FOOD_AND_BEVERAGES,cleveland gaming fairview park
51,0,acc_0,WING WAREHOUSE CUYAH CUYAHOGA FALL OH 08/08,24.20,2022-08-09,FOOD_AND_BEVERAGES,wing warehouse cuyah cuyahoga fall
52,0,acc_0,Taco Bell,28.66,2022-02-24,FOOD_AND_BEVERAGES,taco bell
53,0,acc_0,Great Clips,37.00,2022-09-19,GENERAL_MERCHANDISE,great clips
54,0,acc_0,Circle K,66.00,2022-08-03,GENERAL_MERCHANDISE,circle k
55,0,acc_0,LOS GIRASOLES STOW OH 03/14,27.73,2022-03-15,FOOD_AND_BEVERAGES,los girasoles stow
56,0,acc_0,MOE'S SW GRILL #XXXX CUYAHOGA FALL OH 07/11,16.63,2022-07-12,FOOD_AND_BEVERAGES,moes sw grill cuyahoga fall
57,0,acc_0,TST* The Basement Sp Cuyahoga Fall OH 10/11,24.81,2022-10-12,FOOD_AND_BEVERAGES,tst the basement sp cuyahoga fall
58,0,acc_0,Burger King,14.71,2022-03-03,FOOD_AND_BEVERAGES,burger king
59,0,acc_0,BUZZIS LAUNDRY 1 OH 03/06,1.56,2022-03-07,GENERAL_MERCHANDISE,buzzis laundry 1
60,0,acc_0,Circle K,54.50,2022-09-06,GENERAL_MERCHANDISE,circle k
61,0,acc_0,IAH CNBC SMARTSHOP HOUSTON TX 04/17,7.15,2022-04-18,GENERAL_MERCHANDISE,iah cnbc smartshop houston
62,0,acc_0,BUZZIS LAUNDRY 1 OH 02/24,4.42,2022-02-25,GENERAL_MERCHANDISE,buzzis laundry 1
63,0,acc_0,Chick-fil-A,24.53,2022-09-14,FOOD_AND_BEVERAGES,chickfila
64,0,acc_0,Walmart,81.23,2022-07-26,GROCERIES,walmart
65,0,acc_0,WINKING LIZARD - 30 MA OH 01/14,49.50,2023-01-17,FOOD_AND_BEVERAGES,winking lizard 30 ma
66,0,acc_0,BOB EVANS REST #XXXX STOW OH 11/03,22.15,2022-11-04,FOOD_AND_BEVERAGES,bob evans rest stow
67,0,acc_0,Kohl's,81.79,2022-12-13,GENERAL_MERCHANDISE,kohls
68,0,acc_0,TGI FRIDAYS XXXX STOW OH 04/15,27.92,2022-04-15,FOOD_AND_BEVERAGES,tgi fridays stow
69,0,acc_0,MOE'S SW GRILL #XXXXXX AKRON OH 03/06,21.73,2022-03-07,FOOD_AND_BEVERAGES,moes sw grill akron
70,0,acc_0,Walmart,71.00,2022-07-25,GROCERIES,walmart
71,0,acc_0,Taco Bell,28.36,2022-02-16,FOOD_AND_BEVERAGES,taco bell
72,0,acc_0,Wendy's,7.39,2022-07-25,FOOD_AND_BEVERAGES,wendys
73,0,acc_0,RAYS PLACE OF FAIRLAWN FAIRLAWN OH 08/04,32.17,2022-08-08,FOOD_AND_BEVERAGES,rays place of fairlawn fairlawn
74,0,acc_0,MOE'S SW GRILL #XXXX CUYAHOGA FALL OH 03/25,13.66,2022-03-28,FOOD_AND_BEVERAGES,moes sw grill cuyahoga fall
75,0,acc_0,Circle K,4.89,2022-12-27,GENERAL_MERCHANDISE,circle k
76,0,acc_0,TST* THE BASEMENT SP CUYAHOGA FALL OH 03/08,31.74,2022-03-08,FOOD_AND_BEVERAGES,tst the basement sp cuyahoga fall
77,0,acc_0,BOB EVANS REST #XXXX STOW OH 12/09,25.90,2022-12-12,FOOD_AND_BEVERAGES,bob evans rest stow
78,0,acc_0,Walmart,41.87,2022-04-11,GROCERIES,walmart
79,0,acc_0,BUZZIS LAUNDRY 1 OH 02/13,4.42,2022-02-14,GENERAL_MERCHANDISE,buzzis laundry 1
80,0,acc_0,GET GO #XXXX XXXX St Cuyahoga Fall OHXXXXXX 06/19,24.87,2022-06-21,GENERAL_MERCHANDISE,get go st cuyahoga fall
81,0,acc_0,DD DOORDASH DASHMART CA 03/22,35.73,2022-03-22,FOOD_AND_BEVERAGES,dd doordash dashmart
82,0,acc_0,Chipotle Mexican Grill,13.95,2022-12-09,FOOD_AND_BEVERAGES,chipotle mexican grill
83,0,acc_0,Walmart,91.04,2022-05-11,GROCERIES,walmart
84,0,acc_0,SWENSONS - NORTH AKRON AKRON OH 05/03,33.84,2022-05-04,FOOD_AND_BEVERAGES,swensons north akron akron
85,0,acc_0,LOS GIRASOLES STOW OH 11/29,12.68,2022-11-29,FOOD_AND_BEVERAGES,los girasoles stow
86,0,acc_0,PIADA - 39 OH 12/07,7.87,2022-12-08,FOOD_AND_BEVERAGES,piada 39
87,0,acc_0,PAPAYA SALAD THAI FO CUYAHOGA FALL OH 05/04,12.55,2022-05-04,FOOD_AND_BEVERAGES,papaya salad thai fo cuyahoga fall
88,0,acc_0,Chick-fil-A,14.45,2022-08-04,FOOD_AND_BEVERAGES,chickfila
89,0,acc_0,McDonald's,15.08,2022-11-30,FOOD_AND_BEVERAGES,mcdonalds
90,0,acc_0,LOS GIRASOLES STOW OH 09/13,13.74,2022-09-14,FOOD_AND_BEVERAGES,los girasoles stow
91,0,acc_0,MR HERO - XXXX CUYAHOGA FALL OH 03/16,13.38,2022-03-17,FOOD_AND_BEVERAGES,mr hero cuyahoga fall
92,0,acc_0,PAPAYA SALAD THAI FO CUYAHOGA FALL OH 04/06,9.07,2022-04-06,FOOD_AND_BEVERAGES,papaya salad thai fo cuyahoga fall
93,0,acc_0,KFC KXXXXXX MEDINA OH 01/19,10.66,2023-01-20,FOOD_AND_BEVERAGES,kfc k medina
94,0,acc_0,Kings Of Vapor 2 Cuyahoga Fall OH XXXXXX 01/07,43.75,2023-01-09,GENERAL_MERCHANDISE,kings of vapor 2 cuyahoga fall
95,0,acc_0,Dairy Queen,14.67,2022-09-06,FOOD_AND_BEVERAGES,dairy queen
96,0,acc_0,Pet Supplies Plus,77.91,2022-08-29,PETS,pet supplies plus
97,0,acc_0,Walmart,54.01,2022-11-10,GROCERIES,walmart
98,0,acc_0,TST* ZEPPE'S BISTRO OF HUDSON OH 02/26,80.32,2022-02-28,FOOD_AND_BEVERAGES,tst zeppes bistro of hudson
99,0,acc_0,EAST OF CHICAGO - CU CUYAHOGA FALL OH 07/01,25.00,2022-07-05,FOOD_AND_BEVERAGES,east of chicago cu cuyahoga fall

In [35]:
# create day of week, day of month, whole dollar amount indicator
unmatched_memos['posted_date'] = pd.to_datetime(outflows['posted_date'])
unmatched_memos['day_of_week'] = unmatched_memos['posted_date'].dt.weekday
unmatched_memos['month'] = pd.to_datetime(unmatched_memos['posted_date']).dt.month
# unmatched_memos['day_of_month'] = pd.to_datetime(unmatched_memos['posted_date']).dt.day
unmatched_memos['whole_dollar'] = (unmatched_memos['amount'] % 1 == 0).astype(int)
unmatched_memos['bins'] = pd.qcut(unmatched_memos['amount'], q=10, labels=['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'])

In [36]:
# unmatched_memos['quarter'] = pd.to_datetime(unmatched_memos['posted_date']).dt.quarter

In [37]:
# unmatched_memos['day_of_year'] = pd.to_datetime(unmatched_memos['posted_date']).dt.dayofyear

In [38]:
# unmatched_memos['freq_similar_amounts'] = unmatched_memos.groupby(['prism_consumer_id', 'amount']).transform('count')['prism_account_id']

In [39]:
unmatched_memos['is_even_amount'] = unmatched_memos.amount.apply(lambda x: 1 if x % 1 == 0 and x % 5 == 0 else 0)

In [40]:
unmatched_memos.columns

Index(['prism_consumer_id', 'prism_account_id', 'memo', 'amount',
       'posted_date', 'category', 'clean_memo', 'day_of_week', 'month',
       'whole_dollar', 'bins', 'is_even_amount'],
      dtype='object')

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf_vectorizer = TfidfVectorizer(max_features=50)

tfidf_matrix = tfidf_vectorizer.fit_transform(unmatched_memos['clean_memo']).toarray()

tfidf_df = pd.DataFrame(tfidf_matrix, columns=tfidf_vectorizer.get_feature_names())

In [42]:
tfidf_df.head()

,amazon,amzn,amzncombill,apple,applecombill,authorized,ca,card,cash,check,...,taco,target,the,tx,uber,us,visa,wa,walmart,withdrawal
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [43]:
sorted_tfidf = tfidf_df.sum(axis=0).sort_values(ascending=False)

In [44]:
# Create a list of the top 50 features, excluding any that are already categories

not_helpful = set(outflows.category.str.lower().unique())

top_50 = [f for f in sorted_tfidf.index if f not in not_helpful][:25]

In [45]:
# One-hot encode the specified columns
columns_to_encode = ['day_of_week', 'whole_dollar','is_even_amount','month', 'bins']

outflows_encoded = pd.get_dummies(unmatched_memos, columns=columns_to_encode, drop_first=True)

outflows_encoded.columns

Index(['prism_consumer_id', 'prism_account_id', 'memo', 'amount',
       'posted_date', 'category', 'clean_memo', 'day_of_week_1',
       'day_of_week_2', 'day_of_week_3', 'day_of_week_4', 'day_of_week_5',
       'day_of_week_6', 'whole_dollar_1', 'is_even_amount_1', 'month_2',
       'month_3', 'month_4', 'month_5', 'month_6', 'month_7', 'month_8',
       'month_9', 'month_10', 'month_11', 'month_12', 'bins_1', 'bins_2',
       'bins_3', 'bins_4', 'bins_5', 'bins_6', 'bins_7', 'bins_8', 'bins_9'],
      dtype='object')

In [46]:
for word in top_50:
    outflows_encoded[f'tfidf_{word}'] = (outflows_encoded.clean_memo.str.contains(word)).astype(int)

In [47]:
outflows_encoded

,prism_consumer_id,prism_account_id,memo,amount,posted_date,category,clean_memo,day_of_week_1,day_of_week_2,day_of_week_3,...,tfidf_visa,tfidf_dollar,tfidf_recurring,tfidf_starbucks,tfidf_check,tfidf_market,tfidf_fl,tfidf_target,tfidf_wa,tfidf_amzncombill
0,0,acc_0,TST* Casa Del Rio - Exp Fairlawn OH 09/24,18.42,2022-07-05,FOOD_AND_BEVERAGES,tst casa del rio exp fairlawn,True,False,False,...,0,0,0,0,0,0,0,0,0,0
1,0,acc_0,Buffalo Wild Wings,26.47,2022-03-25,FOOD_AND_BEVERAGES,buffalo wild wings,False,False,False,...,0,0,0,0,0,0,0,0,0,0
2,0,acc_0,Oculus CA 04/16,11.73,2022-09-26,GENERAL_MERCHANDISE,oculus,False,False,False,...,0,0,0,0,0,0,0,0,0,0
3,0,acc_0,LOS GIRASOLES STOW OH 03/08,30.04,2023-01-10,FOOD_AND_BEVERAGES,los girasoles stow,True,False,False,...,0,0,0,0,0,0,0,0,0,0
4,0,acc_0,BUZZIS LAUNDRY 1 OH 03/28,4.16,2022-09-12,GENERAL_MERCHANDISE,buzzis laundry 1,False,False,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1306447,5941,acc_9524,DEBIT CARD WITHDRAWAL PURCHASEAmazon Prime*TI4...,15.93,2023-01-23,GENERAL_MERCHANDISE,debit card withdrawal purchaseamazon primeti40...,False,False,False,...,0,0,0,0,0,0,0,0,1,1
1306448,5941,acc_9524,POS WITHDRAWALAZ LOT QUIKTRIP XXXX XXXX E INDI...,25.00,2022-12-12,EDUCATION,pos withdrawalaz lot quiktrip e indian school ...,False,False,False,...,0,0,0,0,0,0,0,0,1,0
1306449,5941,acc_9524,POS WITHDRAWALWAL-MART #XXXX XXXX E MCKELLIPS ...,3.68,2022-11-14,FOOD_AND_BEVERAGES,pos withdrawalwalmart e mckellips rd mesa az c...,False,False,False,...,0,0,0,0,0,0,0,0,1,0
1306450,5941,acc_9524,WITHDRAWAL Salt River ProjeTYPE: ONLINE PMT CO...,90.00,2023-02-27,FOOD_AND_BEVERAGES,withdrawal salt river projetype online pmt cos...,False,False,False,...,0,0,0,0,0,0,0,0,1,0
1306451,5941,acc_9524,POS WITHDRAWALFRYS-FOOD-DRG #1 435 S. E MESA A...,7.74,2023-02-13,FOOD_AND_BEVERAGES,pos withdrawalfrysfooddrg 1 435 s e mesa az ca...,False,False,False,...,0,0,0,0,0,0,0,0,1,0

In [48]:
f = open('encodings_tracy.txt', 'w')
cols = outflows_encoded.columns

f.write(',\n'.join([str(x) for x in sorted(cols)]))
f.close()

In [49]:
# from sklearn.feature_extraction.text import TfidfVectorizer

# tfidf_vectorizer = TfidfVectorizer(max_features=50)
# # Fit and transform the clean_memo column
# tfidf_matrix = tfidf_vectorizer.fit_transform(outflows_encoded['clean_memo']).toarray()
# tfidf_df = pd.DataFrame(tfidf_matrix, columns=tfidf_vectorizer.get_feature_names_out())
# outflows_final = pd.concat([outflows_encoded.reset_index(drop=True), tfidf_df.reset_index(drop=True)], axis=1)
# print(outflows_final.head())

In [50]:
# outflows_final.columns

In [51]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score
from sklearn.preprocessing import StandardScaler

In [50]:
# Dropping unnecessary columns
X = outflows_encoded.drop(columns=['category','prism_consumer_id', 'prism_account_id', 'memo', 'clean_memo', 'posted_date', 'amount'])
y = outflows_encoded['category']  # target variable

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [52]:
X_train

,day_of_week_1,day_of_week_2,day_of_week_3,day_of_week_4,day_of_week_5,day_of_week_6,whole_dollar_1,is_even_amount_1,month_2,month_3,...,tfidf_visa,tfidf_dollar,tfidf_recurring,tfidf_starbucks,tfidf_check,tfidf_market,tfidf_fl,tfidf_target,tfidf_wa,tfidf_amzncombill
249000,True,False,False,False,False,False,False,False,False,False,...,0,0,0,0,1,0,0,0,0,0
153089,False,False,False,True,False,False,False,False,True,False,...,0,0,0,0,1,0,0,0,0,0
364643,False,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
26339,False,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
905066,False,True,False,False,False,False,False,False,False,False,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,True,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
259178,False,False,False,True,False,False,True,False,False,False,...,0,0,0,0,0,0,0,0,1,0
131932,False,False,False,False,False,False,False,False,False,False,...,0,0,0,0,0,0,0,1,0,0
671155,False,False,False,True,False,False,False,False,False,False,...,0,0,0,0,0,0,0,0,0,0
121958,True,False,False,False,False,False,False,False,False,False,...,0,1,0,0,0,0,0,0,1,0

In [53]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [54]:
log_reg = LogisticRegression(max_iter=50, random_state=42)
log_reg.fit(X_train_scaled, y_train)

/opt/conda/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=50, random_state=42)

In [55]:
y_pred = log_reg.predict(X_test)
y_pred_train = log_reg.predict(X_train)

In [56]:
f"Train accuracy: {( y_pred_train == y_train).mean()}, Test accuracy: {(y_pred == y_test).mean()}"

'Train accuracy: 0.448467554363523, Test accuracy: 0.4495840643207711'

In [52]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, f1_score

X = outflows_encoded.drop(columns=['category','prism_consumer_id', 'prism_account_id', 'memo', 'clean_memo', 'posted_date', 'amount'])
y = outflows_encoded['category']  # target variable

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [59]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [60]:

y_pred_rf = rf_model.predict(X_test)

rf_acc = accuracy_score(y_test, y_pred_rf)
rf_f1 = f1_score(y_test, y_pred_rf, average='weighted')

print(f"Random Forest - Accuracy: {rf_acc:.4f}, F1 Score: {rf_f1:.4f}")

Random Forest - Accuracy: 0.6529, F1 Score: 0.6472